<!DOCTYPE html>
<html ng-app="IOT">
  <head>
    <meta charset="utf-8">
    <title>Grocer Purchase Analyzer</title>

<!-- Stylesheets -->
<link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
<link rel="stylesheet" href="assets/sheetrock.css"></link>

<!-- Scripts -->
<script type="text/javascript" src="vendors/angular.min.js"></script>
<script type="text/javascript" src="scripts/clientApp.js"></script>
<script type="text/javascript" src="/vendors/shim.js"></script>

  </head>


  <body ng-controller="baseController">

    <h1>Success!</h1>

  <p>All of your files have been uploaded successfully.</p>


  <p><a href="/">Home</a></p>




  </body>
</html>
