<!DOCTYPE html>
<html ng-app="IOT">
  <head>
    <meta charset="utf-8">
    <title>Grocer Purchase Analyzer</title>

<!-- Stylesheets -->
<link rel="stylesheet" href="vendors/bootstrap.min.css"></link>
<link rel="stylesheet" href="assets/sheetrock.css"></link>

<!-- Scripts -->
<script type="text/javascript" src="vendors/angular.min.js"></script>
<script type="text/javascript" src="scripts/clientApp.js"></script>
<script type="text/javascript" src="/vendors/shim.js"></script>

  </head>


  <body ng-controller="baseController">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>Second Upload Page</h1>

              <p>Use the page below to upload your second <b><u>Good Grocer</b></u> CSV file.</p>


            </div>
            <div class="col-md-4">
              <br><br>
              <a href="/"><button type="button" class="btn btn-danger">Start Over</button></a>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <form id        =  "uploadForm"
                enctype   =  "multipart/form-data"
                action    =  "upload/2"
                method    =  "post"
            >

            <input type="file" name="file" />
            <br>
            <input class="btn btn-success" type="submit" value="Upload" name="submit">
          </form>

        </div>
      </div>
    </div>


  </body>
</html>
